.DS_Store
*.swp
*.lock
host.aliases
config/g/
config/htop/
id_rsa*
known_hosts

# Config files that contain sensitive info or are installed
# there and don't need to be stored
config/asciinema/install-id
config/configstore/
config/exercism/
config/gcloud/
config/gh/hosts.yml
config/btp/
config/autocomplete/scripts/sapbtpcli-autocomplete.plugin.sh
config/kitty/theme.conf
config/kitty/kitty-themes/
config/so/
config/weechat/
config/docker/
config/newsboat/cache.db
