.DS_Store
*.swp
.*.un~
*~
*.lock
host.aliases
config/g/
config/htop/
id_rsa*
known_hosts
config/nvim/lua/packer_compiled.lua

# Config files that contain sensitive info or are installed
# there and don't need to be stored
config/asciinema/install-id
config/configstore/
config/exercism/
config/stack/
config/gcloud/
config/gh/hosts.yml
config/btp/
config/autocomplete/scripts/sapbtpcli-autocomplete.plugin.sh
config/kitty/theme.conf
config/kitty/kitty-themes/
config/so/
config/cf/
config/weechat/
config/docker/
config/ngrok/
config/toot/
config/newsboat/cache.db
config/k9s/config.yml
config/ookla/speedtest.json
config/toot/
config/ngrok/
